h1 {
    text-align: center;
    background-color: rgb(0,255,255);
}

.marker {
    width: 200px;
    height: 25px;
    /*The margin shorthand property makes it easy to set multiple margin areas at the same time.*/
    /*first val- top/bottom second val-left/right*/
    margin: 10px auto;
}

/*chartreuse green (green + yellow), azure (blue + cyan), and rose (red + magenta). */
.one {
    /*secondary colors*/
    /*yellow -rgb(255,255,0)*/

    /*primary color*/
    /* background-color: rgb(255,0,0); */
    background-color: rgb(0,0,0);

    /*tertiary color*/
    /* background-color: rgb(255,127,0);  -- orange*/
    /* background-color: rgb(127,255,0);  --chartreuse green */

}
.two {
    /*cycan - rgb(0,255,255)*/
    background-color: rgb(255,0,0);

    /*tertiary color*/
    /* background-color: rgb(0,255,127)-- spring green;*/
    /* background-color: rgb(0,127,255); --azure */
}

.three {
    /* magenta - rgb(255,0,255)*/
    background-color: rgb(0,0,255);

    /*tertiary color*/
    /* background-color: rgb(127,0,255)-- violet;*/
    /* background-color: rgb(255,0,127) --rose; */
}
.container {
    /*additive color model -RGB*/
    background-color: rgb(255, 255, 255);
    padding: 10px 0px;
}

.red {
    background-color: rgb(255,0,0);
}

.green {
    background-color: #007F00;
}

.blue {
    background-color: hsl(240, 100%, 50%);;
}
.gradientRed {
    background: linear-gradient(90deg,rgb(255,0,0),rgb(0,255,0),rgb(0,0,255));
}
.gradientGreen {
    background: linear-gradient(90deg, rgb(255,0,0) 90%,rgb(0,0,0));
}

.gradientBlue {
    /*shadow to the opposite side*/
    /* box-shadow: -5px -5px red; */
    box-shadow: 0px 0px 20px 0px rgba(83,14,14,0.8);
    background: linear-gradient(180deg, rgb(122, 74, 14) 0%, rgb(245, 62, 113) 50%, rgb(162, 27, 27) 100%);
}

.gradientOne {
    /* blur radius -- optional*/
    /* box-shadow: 5px 5px 5px green; */

    box-shadow: 0 0 20px 0 #3B7E20CC;
    background: linear-gradient(180deg, #55680D, #71F53E,#116C31);
}

.gradientTwo {
    background: linear-gradient(hsl(186, 76%, 16%), hsl(223, 90%, 60%), hsl(240,56%,42%));
    /*box-shadow: offsetX offsetY blurRadius spreadRadius color; -- expand shadow*/
    /* box-shadow: 0px 0px 0px 5px blue; */

    box-shadow: 0 0 20px 0 hsl(223, 59%, 31%, 0.8);
}
.sleeve {
    width: 110px;
    height: 25px;
    background-color: rgba(255,255,255,50%);
    border-left: 10px double rgba(0,0,0,75%);
}

.cap {
    width: 60px;
    height:25px;
}

.cap, .sleeve {
    display: inline-block;
}
